// ---------------------------- Sidebar ------------------------------
.Sidebar-menu-item {
    display: flex;
    width: 260px;
    font-size: 1.1rem;
    // font-weight: 700;
    padding: 0 24px;
    border-radius: 4px;
    transition: background-color ease-in-out 200ms;
    color: var(--text-color);
    align-items: center;
    text-decoration: none;

    &.active {
        color: var(--primary);
        background-color: var(--button-hover);


        .Sidebar-icon {
            display: none;
        }

        .Sidebar-active-icon {
            display: flex;
        }
    }

    &:hover {
        background-color: var(--button-hover);
    }
}

.Sidebar-title {
    margin-left: 12px;
}

.Sidebar-icon,
.Sidebar-active-icon {
    display: flex;
    width: 34px;
    transform: translateY(2px)
}



.Sidebar-active-icon {
    display: none;
}





// ---------------------------- Navbar ------------------------------

.Navbar {
    display: flex;
    gap: 10px; 
}

.Navbar-menu-item {
    display: flex;
    width: 85px;
    height : 50px;
    // font-size: 1.1rem;
    // font-weight: 700;
    // padding: 0 24px;
    border-radius: 8px;
    transition: background-color ease-in-out 200ms;
    color: var(--text-color);
    // align-items: center;
    justify-content: center;
    // text-decoration: none;

    &.active {
        color: var(--primary);
        background-color: var(--button-hover);


        .Navbar-icon {
            display: none;
        }

        .Navbar-active-icon {
            display: flex;
        }
    }

    &:hover {
        background-color: var(--button-hover);
    }
}

.Navbar-icon,
.Navbar-active-icon {
    display: flex;
    width: 34px;
    align-items: center;
    justify-content: center;
    transform: translate(4px, 2px)
}



.Navbar-active-icon {
    display: none;
}
